In [183]:
import pandas as pd
import duckdb

In [185]:
with duckdb.connect('../data/RE_moscow_db.duckdb') as w:
    for table in w.execute('PRAGMA show_tables').df()['name'].values:
        print(table,' :',w.execute(f'select count(*) as events from {table}').df().iloc[0].values[0])

agency_ads  : 3618
builder_ads  : 3830
home_info  : 32933
user_ads  : 4370

In [188]:
with duckdb.connect('../data/general_moscow_home_info.duckdb') as w:
    for table in w.execute('PRAGMA show_tables').df()['name'].values:
        print(table,' :',w.execute(f'select count(*) as events from {table}').df().iloc[0].values[0])

home_base_info  : 32933

In [186]:
with duckdb.connect('../data/RE_moscow_db.duckdb') as w:
    agency_df = w.execute(f'select * from agency_ads').df().assign(ads_type='agency_ads')
    builder_df = w.execute(f'select * from builder_ads').df().assign(ads_type='builder_ads')
    user_df = w.execute(f'select * from user_ads').df().assign(ads_type='user_ads')

In [187]:
agency_df.groupby(pd.qcut(agency_df['m2'],3))['price'].describe().div(1000).round(3).style.format('{:_}')