In [1]:
import pandas as pd
import duckdb

In [2]:
with duckdb.connect('../data/avito_builder_db.duckdb') as w:
    builder_df = w.execute('select * from INTEL.avito_RE ').df()
with duckdb.connect('../data/avito_user_db.duckdb') as w:
    user_df = w.execute('select * from INTEL.avito_RE ').df()
with duckdb.connect('../data/avito_agency_db.duckdb') as w:
    agency_df = w.execute('select * from INTEL.avito_RE ').df()

In [11]:
builder_df.groupby(pd.qcut(builder_df['m2'],3))['price'].describe().div(1000).round(3).style.format('{:_}')

In [12]:
user_df.groupby(pd.qcut(user_df['m2'],3))['price'].describe().div(1000).round(3).style.format('{:_}')

In [13]:
agency_df.groupby(pd.qcut(agency_df['m2'],3))['price'].describe().div(1000).round(3).style.format('{:_}')